[Unit]
Description=DataFish Payment Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/DataFish/payment-service
ExecStart=/home/ec2-user/DataFish/payment-service/venv/bin/python main.py
Restart=always
RestartSec=5
Environment="PORT=8084"
Environment="DD_SERVICE=datafish-payment-service"

[Install]
WantedBy=multi-user.target




